/*
                        _______
                       /       \
                      .==.    .==.
                     ((  ))==((  ))
                    / "=="    "=="\
                   /____|| || ||___\
       ________     ____    ________  ___    ___
       |  ___  \   /    \   |  ___  \ |  |  /  /
       |  |  \  \ /  /\  \  |  |  \  \|  |_/  /
       |  |   )  /  /__\  \ |  |__/  /|  ___  \
       |  |__/  /  ______  \|  ____  \|  |  \  \
_______|_______/__/ ____ \__\__|___\__\__|___\__\____
|  ___  \ |  ____/ /    \   |  ___  \ |  ____|  ___  \
|  |  \  \|  |___ /  /\  \  |  |  \  \|  |___|  |  \  \
|  |__/  /|  ____/  /__\  \ |  |   )  |  ____|  |__/  /
|  ____  \|  |__/  ______  \|  |__/  /|  |___|  ____  \
|__|   \__\____/__/      \__\_______/ |______|__|   \__\
                https://darkreader.org
*/


/* User-Agent Style */

html {
    background-color: #181a1b !important;
}

html,
body,
input,
textarea,
select,
button {
    background-color: #181a1b;
}

html,
body,
input,
textarea,
select,
button {
    border-color: #736b5e;
    color: #e8e6e3;
}

a {
    color: #3391ff;
}

table {
    border-color: #545b5e;
}

::placeholder {
    color: #b2aba1;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
}

::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}


/* Invert Style */

.jfk-bubble.gtx-bubble,
.captcheck_answer_label>input+img,
embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}


/* Variables Style */

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}


/* Modified CSS */

.tabGroupTitleText {
    color: rgb(189, 183, 175) !important;
}


/* Override Style */

.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
}

::placeholder {
    opacity: 0.5 !important;
}

#settingsDiv {
    background-color: rgb(24 26 27) !important;
}

.clickable {
    cursor: pointer;
    color: #6697ff;
}


/* border-bottom: 1px dashed rgb(86 86 86); */